.page{
  .cadastro-page{
    padding: 40px;

    .img{
      border-radius: 50%;
      width: 500px;
      height: 500px;
      margin-bottom: 20px;
    }

    .styles-input{
      margin-top: 10px;
  }
    .btn-cadastro{
      margin-top: 50px;
      background: #8130ff;
      color: #fff;
      border-radius: 5px;
    }
  }
}