<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page">

    <StackLayout orientation="vertical">

        <TextField hint="Login" class="inputText" [ngModel]='user.user_login' (ngModelChange)='user.user_login = $event'></TextField>

        <TextField hint="Senha" secure="true" class="inputText" [ngModel]='user.senha_login' (ngModelChange)='user.senha_login = $event'></TextField>

        <Button class="button" text="Entrar" (tap)="login()"></Button>

        <Button class="button cadastro" text="Cadastre-se" (tap)="cadastrar()"></Button>

    </StackLayout>

</GridLayout>